:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.cards-slider-wrapper1{
  vertical-align: middle;
  white-space:wrap;
  max-width:100%;
  position: relative;
  top:30px;
  display:  inline-flex;
  flex-wrap: wrap;
padding: 50px;

}
.cards-slider-wrapper2{
  vertical-align: middle;
  max-width:100%;
  top:300px;
  text-align:center;
  display:  inline-flex;
  flex-wrap: wrap;
  border: 2px solid black;
}
.column{
  flex:25%;
  max-width: 25%;
  padding:0.4px;
}
img{
  justify-content:space-between;
  width: 300px;
  height:auto;
 padding: 30px;
 position: relative;
 bottom:80px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:20px;
  padding: 10px;
 overflow-x: hidden;
 overflow-y: visible;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 15px 21px 19px 11px rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 2px;
  position: relative;
  top:5px;
}
.prev, .next {

  height: 3%;
  cursor: pointer;
  color: yellow;
  transition: .6s ease;

}

.prev{
  position:relative;
  bottom:5px;
  right:51px;
}
.next{
  position:relative;
 bottom:15px;
 left:1260px;
}
.icon1{
  position:relative;
  top:330px;
  right:-30em;
}
.icon2{
  position:relative;
  top:274px;
  right:-55em;
}

.Fnt4{
  position:relative;
  right:5em;
  color:black;
  text-decoration: none;
}
.Fnt2{
  position:fixed;
  left:10em;
  color:black;
  text-decoration: none;
}
.Fnt1{
  position:relative;
  left:-2em;
  color:black;
  text-decoration: none;
  font-weight: 2em;
  font-size: 1.5em;
}
.SearchBar {
    height: 48px;
  width: 400px;
}
.SearchBar1{
    height: 48px;
  width: 400px;
  border-style:solid;
  border-width: thin;
  border-radius: 5px;
}
.title{
 cursor:text;
  position:relative;
  top:-1.0em;
  text-align: center;
  margin-right:auto;
  color:black;
  font-size:.8em;
}
.price{
  cursor:text;
  size:3em;
  position:relative;
  top:-.5em;
  color:black;

  text-align: center;
  margin-right:auto;
}
.detailcolor{
    position:relative;
    margin:0;

    top:0;
    left:0;

    width:100%;
    height: 200%;
    background:lightgrey;

}
.detailcolor1{
    position:fixed;
    margin:0;

    top:0%;
    left:0;

    width:100%;
    height: 100%;
    background:white;

}
.detailcolor2{
    position:absolute;
    margin:0;

    top:9%;
    left:0;

    width:100%;
    height: 100%;
    background:lightgrey;

}
.h1{
  position:relative;
  top:-40%;
  left:10%;
}
.signbutton{
  position:relative;
  bottom:-40%;
  left:-35%;
}
.element{
   position:relative;
   font-size: 2em;
   top:-3.2em;
   left:2.5em;
     font-family: "Times New Roman", Times, serif;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
.logoutbutton1{
  padding:.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius:.5em;
}
.cancelbutton{
  position:relative;
  left:-5.5em;
  top:1em;
}
.b{
  font-size:"15px";
}


input[type="text-field"]{
  font-size: 16px;
  width:100%;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.Col{
  background-color: white;
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}
.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}



.passwordf{
  position:relative;
  border-radius: 3px;
  padding: 6px;
  width:96%;
  left:15px;
  bottom:-6px;
  border-style: solid;
  border-color: lightgrey;
  }
.submitb{
  position: absolute;
  left:132px;
  top:200px;
  padding:10px;
 border-radius: 3px;
 color: black;
}
.docdetails{
  position: relative;
  left: 600px;
  font-size: 2.8em;
  top: 40px;
  font-weight: bolder;
   font-family:  serif;
}
.info{
  position: relative;
  left: 350px;
  font-size: 1.5em;
  top: 130px;
  color:black;

}
.docname{
  position:relative;
  left:40px;
  font-size: 1.4em;
  font-weight: bold;
  top:-55px;
}
.usernamepos{position:relative;
bottom: -80px;
   left:-60px
}
.dashboard{
  width:350px;
  height: 650px;
  background-color: white;
  color:black;
  border-radius:5px;
  position:relative;
  left:50px;
  top:55px;
  border-style:solid ;
  border-color:black;
  border-width: thin;
}
.dashf{
  height:300px;
}
.dasho{
  height:60px;
  font-style: oblique;
}
.dashh{
  height:60px;
  font-style: oblique;
}
.dashuser{
  height:250px;
}

.dashpic{
 position: relative;
 top: -30px;
 left:66px;
 border-width: thin;
 border-radius: 150px;
border: 5px double lightgrey;
border-width: 3px;
height:170px;
width:170px;
}
.pos{
  position: fixed;
  left:440px;
  top:65px;

}
.appoid{
  width:1000px;
  height: 650px;
  background-color: white;
  color:black;
  border-radius:5px;
  position:relative;
  left:50px;
  top:55px;
  border-style:solid ;
  border-color:black;
  border-width: thin;
}
.hgt{
  height:70px;
}
.bold{
  font-style: normal;
  font-size: 20px;
  size:15px;
  }
.aptdate{
  position: absolute;
  left:200px;
}
.bookdate{
  position:absolute;
  left:430px;
}
.amt{
  position:absolute;
  right:300px;
}
.status{
  position:absolute;
  right:130px;
}
.calendar{
  position: relative;
  right:-680px;
  top: 100px;
  display: inline-block;
}
